<html>
  <body>
    <br><br><br><br><br><br><br>
    <p><center><h1 style="background-color: Cyan;">Welcome to Alex's Maths World</h1></center></p>
    <br><br><br>
    <form action="/questions" method="post">
      <center>
        <h2>
          <input type="radio" name="difficulty" value="easy"  />Easy
          <input type="radio" name="difficulty" value="medium" checked />Medium
          <input type="radio" name="difficulty" value="hard" />Hard
          <input type="radio" name="difficulty" value="nightmare" />Nightmare
        </h2>
      </center><br>
      <center><input type="submit" value="Submit" /></center>
    </form>
  </body>
</html>
