<html>
  <body>
    <br><br><br><br><br><br><br>
    <p><center><h1 style="background-color: Cyan;">Welcome to Alex's Maths World</h1></center></p>
    <br><br><br>
    <form action="/questions" method="post">
      <center>
        <h2>
          <input type="radio" name="difficulty" value="easy" checked />Easy
          <input type="radio" name="difficulty" value="medium" />Medium
          <input type="radio" name="difficulty" value="hard" />Hard
          <input type="radio" name="difficulty" value="extreme" />Extreme
        </h2>
        <br>
        <h3>How many questions do you want?
          <select name="number">
            {% for i in range(1, 11) %}
              <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </select>
        </h3>
      </center>
      <br><br>
      <center><input type="submit" value="Submit" /></center>
    </form>
  </body>
</html>
